extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content 
    main
        if errorMessage
            .user-message.user-message--error #{errorMessage}
        //- multipart/form-data : 평문만이 아닌, 텍스트, 이진, 파일을 분석할 수 있는 형식
        form.product-form(action=path, method="POST" novalidate enctype="multipart/form-data")
            .form-control
                label(for="title") Title
                input(class=validationErrors.find(e => e.param === 'title') ? 'invalid' : '' type="text", name="title", value=((editing || hasError) ? product.title : ''))#title
            //- .form-control
            //-     label(for="imageUrl") imageUrl
            //-     input(class=validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' type="text", name="imageUrl" value=((editing || hasError) ? product.imageUrl : ''))#imageUrl
            .form-control
                label(for="image") image
                input(type="file", name="image")#image
            .form-control
                label(for="price") price
                input(class=validationErrors.find(e => e.param === 'price') ? 'invalid' : '' type="number", name="price" step="0.01" value=((editing || hasError) ? product.price : ''))#price
            .form-control
                label(for="description") description
                textarea(class=validationErrors.find(e => e.param === 'description') ? 'invalid' : '' name="description", rows="5")= ((editing || hasError) ? product.description : '')
            if editing
                input(type="hidden" value=product._id name="productId")

            input(type="hidden" value=csrfToken name="_csrf")
            button.btn(type="submit")=(editing ? 'Update Product' : 'Add Product')